:root {
  --green-primary: #3AAF3E;
  --green-dark: #1F6E1F;
  --red-accent: #C63846;
  --text-dark: #000000;
  --background: #FFFFFF;
  --different-background:#F5F5F5;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Meera Inimai", sans-serif;
}
.btndark, .btndark:hover{
  color: var(--background);
  background-color: var(--green-dark);
  border: solid 1px var(--background);
}
.btndanger, .btndanger:hover{
  color: var(--background);
  background: var(--red-accent);
   border: solid 1px var(--background);
}
h1, h2{ 
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
h2{
  color: var(--green-primary);
}
h3{
   font-family: "PT Sans Caption", sans-serif;
   
   
}
section > .container-fluid {
    padding: 3% 5%;
}
a{
  color: inherit;
  text-decoration: none;
}
/* Navbar */
.navbar  a {
    color: var(--green-dark);
}

.navbar-brand {
    width: 10%;
}
nav .container-fluid{
  padding: 1% 5%;
}

@media (max-width:750px) {
    .navbar-brand {
        width: 30%;
    }
}

/* Floating Icons */
.whatsappIcon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background: var(--different-background);
    color: var(--text-color);
    border-radius: 250px;
    padding-right: 30px;
    text-decoration: none;
}

.whatsappIcon img {
    width: 50px;
    height: 50px;
}

@media (max-width:750px) {
    .whatsappIcon img {
        width: 30px;
        height: 30px;
    }
}

/* product/service */
.servicegrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
   /* or 70px for .servicegridsecond */
}



.servicegrid > div, .servicegridcontent{
 background-color: var(--different-background);
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px var(--green-primary);
  padding: 15px;
  flex: 1 1 300px;
  max-width: 350px;
  box-sizing: border-box;

}

#footer-section{
  color: var(--background);
  background-color: var(--green-primary);
}

.choosecard{
   display: flex;
  flex-direction: column;
  justify-content: space-between; /* pushes button to bottom */
  height: 100%;
  background: var(--green-dark);
  color: var(--background);
  padding: 30px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px var(--green-primary);
}
/*  */
.chooseIcons{
  color: var(--color-lightblue);
  background: var(--green-primary);
  padding: 10px;
  font-size: 30px;
  border-radius: 80%;
  cursor: pointer;
}

.header-background {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 2s ease-in-out;
}
.header-gradient-background{
  height: 80vh;
  background: linear-gradient(
    to bottom,
    transparent 30%,
    var(--green-dark) 100%
  );
}